.techniques
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.technique
{
    width: 40%;
    display: flex;
    justify-content: space-between;
    color: #a58d6e;
}

.technique:hover
{
    color: #a58d6e;
}

.technique-type
{

}

@media all and (max-width: 960px) {
    .techniques
    {
        padding: 0 10px;
    }

    .technique
    {
        width: 100%;
        height: 40px;
        line-height: 40px;
    }
}
