@{
    ViewBag.Title = "Gradera Judo";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    Layout = Request.Browser.IsMobileDevice ? "~/Views/Shared/_LayoutMobile.cshtml"
                                            : "~/Views/Shared/_Layout.cshtml";
}

<h2>Allmänna anvisningar vid gradering</h2>

<ul>
    <li>
        Ansvarig för graderingen i klubben bör vara högst licensierad instruktör och/eller innehar minst
        1 Dan. Det är denne som skriver under i Judopasset.
    </li>

    <li>
        Vid gradering i annan klubb eller vid läger skall eleven kunna intyga att hon/han får tillstånd av
        sin klubb att graderas till högre grad.
    </li>

    <li>Det är viktigt att beakta åldern och den fysiska statusen på den som skall graderas.</li>

    <li>
        Hur mycket en elev behöver träna mellan de olika graderna varierar mycket för olika individer.
        Elevens tränare, tillsammans med den graderingsansvarige, bör göra en individuell bedömning
        av varje elev under ordinarie träning om den är mogen för att pröva  för en ny grad. Så långt
        som möjligt bör man undvika att barn underkänns på graderingar varför det ofta är bättre att
        vara helt klar över att eleven verkligen klarar graderingen än att låta eleven chansa. De
        rekommenderade åldrarna för de olika graderna ger också vägledning om hur mycket träning
        som bör läggas ner för att förbereda inför nästa grad.
    </li>

    <li>
        Graderingsbestämmelserna är rekommendationer och det är tillåtet att de klubbar som önskar
        har en annan ordning på graderingskraven. Gör gärna egna graderingsbestämmelser, men tänk
        på att samtliga tekniker i dessa bestämmelser skall finnas med till 1 kyu.
    </li>

    <li>
        Det är önskvärt att ställa krav på kunskaper om den egna judoklubben i ett tidigt stadium, då
        klubbens medlemmar är de som i första hand gör reklam för klubben.
    </li>
</ul>


<h2>Klädsel och Renlighet</h2>
<ul>
    <li>Nybörjare kan träna i långärmad tröja och mjuka byxor. Ha inte kläder med dragkedja på då det kan skada dina träningskamrater.</li>
    <li>Smycken (även örhänge) och klockor tas av innan träningen för att de inte ska fastna och skada någon.</li>
    <li>Ni som har långt hår får gärna sätta upp det.</li>
    <li>Judodräkten ska vara hel och ren. Gradering kräver judodräkt.</li>
    <li>Vi tränar barfota och med rena fötter.</li>
    <li>Tå- och fingernaglar ska vara kortklippta så ingen skadas.</li>
</ul>