@{
    ViewBag.Title = "Gradera Judo - Judons kodord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Judons kodord</h2>

<center>
    <h3>Artighet</h3>
    <p>(att respektera och vara trevlig mot andra)</p>
    <br />
    <h3>Mod</h3>
    <p>(att våga göra det rätta, att hjälpa de svaga)</p>
    <br />
    <h3>Respekt</h3>
    <p>(utan respekt uppstår inget förtroende)</p>
    <br />
    <h3>Hjälpsamhet</h3>
    <p>(med rena känslor-vänskap)</p>
    <br />
    <h3>Självkontroll</h3>
    <p>(behärska sin vrede)</p>
    <br />
    <h3>Ärlighet</h3>
    <p>(utan dolda tankar)</p>
    <br />
    <h3>Heder</h3>
    <p>(att hålla sina löften)</p>
    <br />
    <h3>Anspråkslöshet</h3>
    <p>(att inte vara högfärdig)</p>
    <br />
    <h3>Slutledning</h3>
    <p>När judotränare för vägen att vara in i sin träning, blir de de inte bara bättre judokas, utan även bättre människor i det sociala samspelet.</p>
</center>
