@{
    ViewBag.Title = "Gradera Judo - 1 Kyu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blått bälte med brun markering</h2>
<p><em>Du bör vara fyllda 13 år. Du bör kunna följande.</em></p>

<p><em>Kumi kata</em> (greppteknik)</p>
<ul class="tmo_list">
    <li>
        Presentation av den egna kumi katan med flera olika sätt att få sitt grepp mot uke som vill ha följande grepp:
        <ul class="tmo_list">
            <li>Höger framsida/nacke.</li>
            <li>Vänster framsida/nacke.</li>
            <li>Höger enarmsgrepp.</li>
            <li>Vänster enarmsgrepp.</li>
        </ul>
    </li>
</ul>

<p><em>Nage waza</em> (kastteknik)</p>
<ul class="tmo_list">
    <li><a href="../../show/tec/Utsuri-goshi" hover="true" tec="Utsuri-goshi">Utsuri-goshi</a></li>
    <li><a href="../../show/tec/Osoto-guruma" hover="true" tec="Osoto-guruma">Osoto-guruma</a></li>
    <li><a href="../../show/tec/Uki-Otoshi" hover="true" tec="Uki-Otoshi">Uki-Otoshi</a></li>
    <li><a href="../../show/tec/Sumi-Otoshi" hover="true" tec="Sumi-Otoshi">Sumi-Otoshi</a></li>
    <li><a href="../../show/tec/Sukui-nage" hover="true" tec="Sukui-nage">Sukui-nage</a></li>
    <li><a href="../../show/tec/Yoko-wakare" hover="true" tec="Yoko-wakare">Yoko-wakare</a></li>
    <li><a href="../../show/tec/Harai-makikomi" hover="true" tec="Harai-makikomi">Harai-makikomi</a></li>
    <li><a href="../../show/tec/Hane-makikomi" hover="true" tec="Hane-makikomi">Hane-makikomi</a></li>
</ul>

<p><em>Tokui Waza</em></p>
<ul class="tmo_list">
    <li>Presentation av det egna favoritkastet.</li>
</ul>

<p><em>Ne Waza</em></p>
<ul class="tmo_list">
    <li>Visa ditt favoritarmlås och förklara hur och varför du gör det som du gör.</li>
    <li>Visa ditt favorithalslås och förklara hur och varför du gör det som du gör.</li>
</ul>

<p><em>Du bör även kunna</em></p>
<ul class="tmo_list">
    <li>6 valfria kombinationer i tachi waza.</li>
    <li>5 valfria kontringar i tachi waza.</li>
    <li>4 sätt att ta över när uke attackerar tori som står på alla fyra.</li>
    <li>Kunna utföra samtliga tidigare tekniker åt både höger och vänster.</li>
</ul>


<h2>Brunt bälte</h2>
<p><em>Du bör vara fyllda 14 år. Du bör kunna följande.</em></p>

<p><em>Teori</em></p>
<ul class="tmo_list">
    <li>Alla tidigare krav under rubrik "Det här bör du veta..".</li>
</ul>

<p><em>Ukemi</em></p>
<ul class="tmo_list">
    <li>Alla tidigare krav på fallteknik.</li>
</ul>

<p><em>Kumi kata</em></p>
<ul class="tmo_list">
    <li>Alla tidigare krav på greppteknik.</li>
</ul>

<p><em>Nage waza</em></p>
<ul class="tmo_list">
    <li>Alla tidigare krav på kastteknik.</li>
    <li>Kunna utföra samtliga tidigare tekniker åt både höger och vänster.</li>
</ul>

<p><em>Osae komi waza</em></p>
<ul class="tmo_list">
    <li>Alla tidigare krav på fasthållningsteknik.</li>
</ul>

<p><em>Kansetsu waza</em></p>
<ul class="tmo_list">
    <li>Alla tidigare krav på armlåsteknik.</li>
</ul>

<p><em>Shime waza</em></p>
<ul class="tmo_list">
    <li>Alla tidigare krav på halslåsteknik.</li>
</ul>

<p><em>Randori</em></p>
<ul class="tmo_list">
    <li>Alla tidigare krav på tachi waza/ne waza randori.</li>
</ul>

<p><em>Kata</em></p>
<ul class="tmo_list">
    <li><a href="../../Show/Tec/Nage-No-Kata(Te-waza)">1:a serien i Nage no kata: (Te-waza)</a></li>
</ul>

<p><em>Övrigt</em></p>
<ul class="tmo_list">
    <li>Alla tidigare krav under rubriken "Du bör även kunna".</li>
</ul>