@{
    ViewBag.Title = "Gradera Judo - 3 Kyu";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = Request.Browser.IsMobileDevice ? "~/Views/Shared/_LayoutMobile.cshtml"
                                            : "~/Views/Shared/_Layout.cshtml";
}

<h2>Orange bälte med grön markering</h2>
<p><em>Du bör vara fyllda 9 år. Du bör kunna följande.</em></p>

<p><em>Ukemi</em> (fallteknik)</p>
<ul class="tmo_list">
    <li>Rullande framåtfall över hinder.</li>
    <li>Bakåtfall över hinder.</li>
</ul>

@*<p><em>Kuzushi</em> (balansbrytning)</p>
<ul class="tmo_list">
    <li>Åtta olika riktningar blansen kan brytas.</li>
</ul>*@

<p><em>Kumi-kata</em></p>
<ul class="tmo_list">
    <li>Kunna förhindra att motståndaren får grepp i slaget.</li>
    <li>Kunna förhindra att motståndaren får grepp i ärmen.</li>
</ul>

<p><em>Nage waza</em> (kastteknik)</p>
<ul class="tmo_list">
    <li><a href="../../show/tec/Okuri-ashi-harai" hover="true" tec="Okuri-ashi-harai">Okuri-ashi-harai</a></li>
    <li><a href="../../show/tec/Sasae-tsurikomi-ashi" hover="true" tec="Sasae-tsurikomi-ashi">Sasae-tsurikomi-ashi</a></li>
    <li><a href="../../show/tec/Uki-goshi" hover="true" tec="Uki-goshi">Uki-goshi</a></li>
    <li><a href="../../show/tec/Sode-tsurikomi-goshi" hover="true" tec="Sode-tsurikomi-goshi">Sode-tsurikomi-goshi</a></li>
    <li><a href="../../show/tec/Seoi-Otoshi" hover="true" tec="Seoi-Otoshi">Seoi-Otoshi</a></li>
    @*<li><a href="../../show/tec/Tai-Otoshi" hover="true" tec="Tai-Otoshi">Tai-Otoshi</a></li>*@
    @*<li><a href="../../show/tec/Sode-tsurikomi-goshi" hover="true" tec="Sode-tsurikomi-goshi">Sode-tsurikomi-goshi</a></li>
    <li><a href="../../show/tec/Ko-uchi-makikomi" hover="true" tec="Ko-uchi-makikomi">Ko-uchi-makikomi</a></li>
    <li><a href="../../show/tec/Uchi-mata" hover="true" tec="Uchi-mata">Uchi-mata</a></li>*@
</ul>

<p><em>Osae komi waza</em> (fasthållningsteknik)</p>
<ul class="tmo_list">
    @*<li><a href="../../show/tec/Kuzure-tate-shiho-gatame">Kuzure-tate-shiho-gatame</a></li>*@
    <li>Kuzure-kami-shiho-gatame</li>
</ul>

<p class="req-14"><em>Kansetu waza</em> (armlåsteknik)</p>
<ul class="tmo_list">
    <li><a href="../../show/tec/Ude-hishigi-ude-gatame">Ude-hishigi-ude-gatame</a></li>
</ul>

<p class="req-14"><em>Shime waza</em> (halslåsteknik)</p>
<ul class="tmo_list">
    <li><a href="../../show/tec/Hadaka-jime">Hadaka-jime</a></li>
    <li><a href="../../show/tec/Okuri-eri-jime">Okuri-eri-jime</a></li>
</ul>

@*<p><em>Du bör även kunna</em></p>
<ul class="tmo_list">
    <li>Komma in på katame waza från olika lägen.</li>
    <li>Behålla kontrollen när uke försöker ta sig loss.</li>
    <li>2 sätt att ta sig ur fasthållningarna som fodras till föregående grad.</li>
    <li>Minst 2 sätt att få loss benet som uke "fångat".</li>
    <li>Minst 2 sätt att pasera benen på uke, som ligger på rygg.</li>
    <li>Minst 3 sätt att vända uke, som ligger på mage.</li>
    <li>3 valfria kombinationer i tachi waza.</li>
    <li>2 valfria kontringar i tachi waza.</li>
    <li>Utföra 4 valfria kast från tidigare fodringar åt både höger och vänster.</li>
    <li>Fullfölja i ne waza efter 3 valfria kast.</li>
</ul>

<p><em>Det här bör du veta..</em></p>
<ul class="tmo_list">
    <li>Man får Ippon om man håller fast uke i 25 sek, Waza-ari i 20-24 sek och Yoko i 15-19 sek.</li>
    <li>I match räknas tiden från det att domaren har dömt Osae-komi.</li>
</ul>*@

<p><em>Det här skall du veta...</em></p>
<ul class="tmo_list">
    <li>Nage-waza – Kastteknik</li>
    <li>Katame-waza – Kontrollgreppsteknik</li>
    <li>Tokui-waza – Favoritteknik</li>
</ul>

<p><em>Det här skall du även kunna...</em></p>
<ul class="tmo_list">
    <li>Fullfölja i ne-waza efter tre valfria kast.</li>
    <li>Minst fyra sätt att vända uke till ryggläge från försvarsposition på mage eller bänkposition.</li>
    <li>Komma in på kontrollgrepp från olika lägen</li>
    <li>Ett par sätt att ta sig ur kontrollgreppen som fordrats till föregående grader.</li>
    <li>Minst tre sätt att få loss benet, som uke fångat med sina ben.</li>
    <li>Minst två sätt att passera benen på uke, som ligger på rygg</li>
    <li>Minst tre sätt att vända uke, när denne anfaller mellan benen på tori som ligger på rygg</li>
    <li>Fyra valfria kombinationer i tachi-waza</li>
    <li>Två valfria kontringar i tachi-waza.</li>
    <li>Genomföra samtliga kast till denna grad åt både höger och vänster</li>
</ul>


<h2>Grönt bälte</h2>
<p><em>Du bör vara fyllda 10 år. Du bör kunna följande.</em></p>

<p><em>Ukemi</em> (fallteknik)</p>
<ul class="tmo_list">
    <li>Rullande framåtfall i olika kastriktningar.</li>
</ul>

<p><em>Kumi kata</em> (greppteknik)</p>
<ul class="tmo_list">
    <li>Kunna korsgrepp över rygg "ryskt grepp" åt både höger och vänster</li>
    <li>Kunna grepp på rygg och i ärm från samma sida, "franskt grepp", åt både höger och vänster.</li>
</ul>

<p><em>Nage waza</em> (kastteknik)</p>
<ul class="tmo_list">
    <li><a href="../../show/tec/Harai-tsurikomi-ashi" hover="true" tec="Harai-tsurikomi-ashi">Harai-tsurikomi-ashi</a></li>
    <li><a href="../../show/tec/Tani-Otoshi" hover="true" tec="Tani-Otoshi">Tani-Otoshi</a></li>
    @*<li><a href="../../show/tec/Hane-goshi" hover="true" tec="Hane-goshi">Hane-goshi</a></li>*@
    @*<li><a href="../../show/tec/Sumi-gaeshi">Sumi-gaeshi</a></li>*@
    <li><a href="../../show/tec/Yoko-sumi-gaeshi">Yoko-sumi-gaeshi</a></li>
    <li><a href="../../show/tec/Tomoe-nage" hover="true" tec="Tomoe-nage">Tomoe-nage</a></li>
    <li><a href="../../show/tec/Yoko-tomoe-nage" hover="true" tec="Yoko-tomoe-nage">Yoko-tomoe-nage</a></li>
    @*<li><a href="../../show/tec/Morote-gari" hover="true" tec="Morote-gari">Morote-gari</a></li>*@
</ul>

<p><em>Osae komi waza</em> (fasthållningsteknik)</p>
<ul class="tmo_list">
    @*<li><a href="../../show/tec/Uki-gatame">Uki-gatame</a></li>*@
    <li><a href="../../show/tec/Kuzure-tate-shiho-gatame">Kuzure-tate-shiho-gatame</a></li>
</ul>

<p class="req-14"><em>Kansetsu waza</em> (armlåsteknik)</p>
<ul class="tmo_list">
    <li><a href="../../show/tec/Ude-hishigi-ashi-gatame">Ude-hishigi-ashi-gatame</a></li>
    <li><a href="../../show/tec/Kesa-garami">Kesa-garami</a></li>
</ul>

<p class="req-14"><em>Shime waza</em> (halslåsteknik)</p>
<ul class="tmo_list">
    <li><a href="../../show/tec/Kata-ha-jime">Kata-ha-jime</a></li>
    <li><a href="../../show/tec/Ryo-te-jime">Ryo-te-jime</a></li>
</ul>

<p><em>Kata</em></p>
<ul class="tmo_list">
    <li><a href="../../Show/Tec/Nage-No-Kata(Goshi-waza)">2:a serien i Nage no kata. (Goshi-waza)</a></li>
</ul>

@*<p><em>Du bör även kunna</em></p>
<ul class="tmo_list">
    <li>Komma in på katame waza från olika lägen.</li>
    <li>Behålla kontrollen när uke försöker ta sig loss.</li>
    <li>4 sätt att ta sig ur 4 valfria fasthållningar från fordringar till tidigare grader.</li>
    <li>1 sätt att ta över när uke attackerar tori som står på alla fyra.</li>
    <li>Minst 2 sätt att passera benen på uke, som ligger på rygg.</li>
    <li>Minst 3 sätt att vända uke, som ligger på mage/alla fyra.</li>
    <li>3 valfria kombinationer i tachi waza.</li>
    <li>2 valfria kontringar i tachi waza.</li>
    <li>2 sätt att ta sig ur Ude-hishigi-juji-gatame.</li>
    <li>Fullfölja i ne waza efter fyra valfria kast.</li>
</ul>

<p><em>Det här bör du veta</em></p>
<ul class="tmo_list">
    <li>Att waza betyder teknik, tachi waza betyder ståendeteknik och ne waza betyder matteknik.</li>
    <li>Nage waza = kastteknik och katame waza = kontrollgreppsteknik.</li>
</ul>*@

<p><em>Det här skall du veta...</em></p>
<ul class="tmo_list">
    <li>Kuzushi – Balansbrytning</li>
    <li>Tsukori – Ingång/placering</li>
    <li>Kake – Kast</li>
</ul>

<p><em>Det här skall du även kunna...</em></p>
<ul class="tmo_list">
    <li>Fullfölja i ne-waza efter fyra valfria kast.</li>
    <li>Minst fem sätt att vända uke till ryggläge från försvarsposition på mage eller bänkposition.</li>
    <li>Komma in på kontrollgrepp från olika lägen.</li>
    <li>Ett par sätt att ta sig ur kontrollgreppen som fordrats till föregående grader.</li>
    <li>Minst tre sätt att passera benen på uke, som ligger på rygg.</li>
    <li>Ett sätt att ta över, när uke attackerar tori som står på alla fyra.</li>
    <li>Två valfria kombinationer "höger ↔ vänster" i tachi-waza.</li>
    <li>Två valfria kombinationer "framåt ↔ bakåt" i tachi-waza.</li>
    <li>Fyra valfria kontringar i tachi-waza.</li>
    <li>Genomföra samtliga kast till denna grad åt både höger och vänster.</li>
</ul>