
@{
    ViewBag.Title = "Index";
    Layout = Request.Browser.IsMobileDevice ? "~/Views/Shared/_LayoutMobile.cshtml"
                                            : "~/Views/Shared/_Layout.cshtml";
}

<div id="myShop">
    <a href="//shop.spreadshirt.se/graderajudo">Shoppen laddar...</a>
</div>

<script>
    var spread_shop_config = {
        shopName: 'graderajudo',
        locale: 'se_SE',
        prefix: '//shop.spreadshirt.se',
        baseId: 'myShop'
    };
</script>

<script type="text/javascript"
        src="//shop.spreadshirt.se/shopfiles/shopclient/shopclient.nocache.js">
</script>