<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TradeDoubler site verification 2050323 -->

    <meta name="description" content="Graderings information" />
    <meta name="keywords" content="Gradera, Gradering, Kyu, 5, 4, 3, 2, 1, Waza, Koshi, Te, Ashi, Shime, Osaekomi, Kansetsu, Masutemi, Yokosutemi, Judo, Budo, Kampsport, Bälte" />
    <meta name="author" content="Victor Öhrström" />

    <title>Gradera Judo - graderings information online</title>
    <link rel="manifest" href="/manifest.json">
    <script src="../../js/headjs.min.js" type="text/javascript"></script>
    <link rel="preload" href="/content/Site.css" as="style">
    <link rel="preload" href="../../Content/templatemo_style.css" as="style">
    <link rel="preload" href="../../Content/nivo-slider.css" as="style">
    <link rel="preload" href="../../Content/nivo-slider.css" as="style">

    <script type="text/javascript">
        head.js("../../js/jquery.min.js");
        head.js("../../js/jquery.nivo.slider.js");
        head.js("/Scripts/jquery.validate.min.js").js("/Scripts/jquery.validate.unobtrusive.min.js").js("../../Content/Javascript/TecHover.js");
        head.js("../../content/javascript/advertisement.js");
        head.js("../../content/css/advertisement.css");

        head.js("/app.js");

        head.js("https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js")
            .js("https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js")
            .js("https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js")
            .js("https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-messages.min.js")
            .js("https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js");
        head.js("../../content/javascript/index.js");

        head.js("../../Content/templatemo_style.css");
        head.js("../../content/css/advertisement.css");
        head.js("https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css");
        head.js("../../Content/nivo-slider.css");
    </script>

    @*<link href="../../Content/templatemo_style.css" rel="stylesheet" type="text/css" />
        <link href="../../content/css/advertisement.css" rel="Stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css" rel="stylesheet" />*@

    <script language="javascript" type="text/javascript">
        function clearText(field) {
            if (field.defaultValue == field.value) field.value = '';
            else if (field.value == '') field.value = field.defaultValue;
        }
    </script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27509427-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>


    <script language="javascript" type="text/javascript">
        function clearText(field) {
            if (field.defaultValue == field.value) field.value = '';
            else if (field.value == '') field.value = field.defaultValue;
        }
    </script>

</head>
<body ng-controller="index" style="height: auto;">

    @*<div style="
        position: fixed;
        top: 0;
        left: 0;
        height: 150px;
        line-height: 25px;
        width: 100%;
        background-color: rgba(0,0,0,.75);">
            <span style="
        text-align: center;
        display: block;">
                Kära användare av Gradera.nu! Denna sidan kan inte hållas vid liv av bara reklam vilket gör att för att fortsätta att hålla sidan vid liv så skulle jag vilja be om donationer. När det kommit in donationer för att kunna betala ett års upptid till så kommer denna banner att försvinna.
                <br />
                Du kan även handla i shoppen för att bidra till att gradera.nu hålls vid liv! <a href="https://shop.spreadshirt.se/graderajudo/" target="_blank">till shoppen!</a>

                <div style="display: flex; width: 100%; align-items: center; justify-content: center;">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="T7JUKPMPCKTBW">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>

                    <a href="javascript:showSwish()"><img src="~/images/getswish_qr.png" style="max-width: 75px; margin-left: 20px;" /></a>
                    <span style="margin-left: 25px;">Swish nummer: 0704-151586</span>
                </div>

            </span>
        </div>*@


    <div id="fb-root"></div>
    <script type="text/javascript">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div id="fader" style="z-index: 100; position:fixed; height:auto; width:auto; top:0; left:0; bottom:0; right:0; background: Black; display:none; opacity: .5; filter: alpha(opacity=50);"></div>
    <div id="feedback" style="z-index:201;	text-align: left;	background-color: #28241e; display: none;	width: 700px; border: solid 1px;	position: fixed;	top: 100px;	z-index: 101;	left: 50%;	margin-left: -350px; padding: 10px;">
        <p><a href="javascript:closeFeedback()" style="float: right; background: none; ">Stäng</a></p>

        <div class="content_box">
            <div id="cp_contact_form">

                <h4>Kontakta</h4>

                <div style="float:right; width: 250px;">
                    <ul class="tmo_list">
                        <li>Problem: Ifall ni stöter på någort problem i sidan så skulle vi gärna vela veta det för att åtgärda felet.</li>
                        <li>Förslag: Har du något förslag på någon förbättring, tveka inte. Meddela oss detta.</li>
                        <li>Ställ en fråga: Har du någon fråga eller vill bara säga "hej" så gör gärna detta.</li>
                        <li>Bilder: Hittar du nån bild/video du inte är nöjd med och kanske har en bättre så tar vi gärna del av detta.</li>
                        <br />
                        <li>Vi är ute efter att vara den bästa sidan på nätet för att informera dig om vad som gäller för just din gradering.</li>
                    </ul>
                </div>

                <form id="sendForm" method="post" name="Feedback" action="#">

                    <div id="nameDiv">
                        <label for="name">Namn:</label> <input name="Namn" type="text" class="input_field" id="name" maxlength="60" />
                        <span id="nameValid" style='color: #FF0000; font-style: normal; font-size: 12px; margin-left: 20px;'>*</span>
                    </div>

                    <div id="emailDiv">
                        <label for="email">E-post:</label> <input name="email" type="text" class="input_field" id="email" maxlength="60" />
                        <span id="emailValid" style='color: #FF0000; font-style: normal; font-size: 12px; margin-left: 20px;'>*</span>
                    </div>

                    <label for="subject">Rubrik:</label> <input name="Rubrik" type="text" class="input_field" id="subject" maxlength="60" />

                    <div id="messageDiv">
                        <label for="text">Meddelande:</label> <textarea id="text" name="text" rows="0" cols="0" class="required"></textarea>
                        <span id="messageValid" style='color: #FF0000; font-style: normal; font-size: 12px; margin-left: 20px;'>*</span>
                    </div>
                    <div class="cleaner_h10"></div>

                    <input type="button" class="submit_btn float_l" name="submit" id="submit" value="Skicka" onclick="javascript:sendFeedback()" />
                    <input type="reset" class="submit_btn float_r" name="reset" id="reset" value="Återställ" />

                </form>
                <div class="cleaner_h10"></div>

                <div id="valid" style="display: none;"></div>

            </div>

        </div>

    </div>


    <div id="swish" style="z-index:201;	text-align: left;	background-color: #28241e; display: none;	width: 700px; border: solid 1px;	position: fixed;	top: 100px;	z-index: 101;	left: 50%;	margin-left: -350px; padding: 10px;">
        <p><a href="javascript:closeSwish()" style="float: right; background: none; ">Stäng</a></p>

        <div class="content_box">

            <img lazy-load="~/images/getswish_qr_small.png" style="max-width: 600px;" alt="betala med swish" />

            <p>Swish nummer: 0704-15 15 86</p>
        </div>

    </div>

    <div id="templamteo_body_wrapper">
        <div id="templatemo_wrapper">
            <div id="templatemo_main_top"></div>
            <div id="templatemo_main">

                <div id="templatemo_sidebar">

                    <div id="site_title"><h1>Gradera<span>Graderingsinformation<br />Judo</span></h1></div>

                    <div id="templatemo_menu">
                        <ul>
                            <li><a href="../../">Hem</a></li>
                            @*<li><a href="../../Shop">Shoppen</a></li>*@
                            <li><a href="../../Home/Kyu5">5 Kyu <img alt="5 kyu" src="../../Image/Belts/5Kyo.PNG" style="float: right; max-height: 20px;" /></a></li>
                            <li><a href="../../Home/Kyu4">4 Kyu <img alt="4 kyu" src="../../Image/Belts/4Kyo.PNG" style="float: right; max-height: 20px;" /></a></li>
                            <li><a href="../../Home/Kyu3">3 Kyu <img alt="3 kyu" src="../../Image/Belts/3Kyo.PNG" style="float: right; max-height: 20px;" /></a></li>
                            <li><a href="../../Home/Kyu2">2 Kyu <img alt="2 kyu" src="../../Image/Belts/2Kyo.PNG" style="float: right; max-height: 20px;" /></a></li>
                            <li><a href="../../Home/Kyu1">1 Kyu <img alt="1 kyu" src="../../Image/Belts/1Kyo.PNG" style="float: right; max-height: 20px;" /></a></li>
                            @*<li><a href="https://shop.spreadshirt.se/graderajudo/" target="_blank">Shop</a></li>*@
                            <li><a href="../../Home/Technique">Tekniker</a></li>
                            @*<li><a href="../../Combinations">Kombinationer</a></li>*@
                            <li><a href="../../Home/Ordlista">Ordlista</a></li>
                            <li><a href="../../Home/Kodord">Judons kodord</a></li>
                            <!--<li><a href="../../products/getproducts">Köp och sälj</a></li>-->
                            <li><a href="https://club.gradera.nu/external.html#/show/form/TestKlubb/Beta" target="_blank">Gradera klubb</a></li>
                            <li><a href="javascript:showFeedback()">Kontakt</a></li>
                        </ul>
                    </div>

                    <div class="sb_box_annons">
                        <h6>Annons</h6>
                        @{Html.RenderAction("GetAdvertisements", "Advertisement", new { pos = "left" });}
                    </div>

                    @{Html.RenderAction("SearchDialog", "Show");}


                    <div class="sb_box_annons">
                        <h6>Stöd oss!</h6>
                        @*<script type="text/javascript">
            var uri = 'http://impse.tradedoubler.com/imp?type(js)pool(466916)a(2050323)' + new String(Math.random()).substring(2, 11);
            document.write('<sc' + 'ript type="text/javascript" src="' + uri + '" charset="ISO-8859-1"></sc' + 'ript>');
        </script>
        <br />
        <br />*@

                        <a href="javascript:showSwish()"><img src="~/images/getswish_qr_small.png" style="max-width: 250px;" alt="betala med swish" /></a>

                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick" />
                            <input type="hidden" name="hosted_button_id" value="GG4J8MDKP37LE" />
                            <input type="image" src="https://www.paypalobjects.com/sv_SE/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                            <img alt="" border="0" src="https://www.paypal.com/sv_SE/i/scr/pixel.gif" width="1" height="1" />
                        </form>


                        <div class="sb_box">
                            <div class="fb-like" data-href="http://www.facebook.com/GraderaJudo" data-send="false" data-layout="box_count" data-width="120" data-show-faces="false" data-colorscheme="dark"></div>

                            <div id="google_play">
                                <a href="https://play.google.com/store/apps/details?id=com.Gradera#?t=W251bGwsMSwyLDIxMiwiY29tLkdyYWRlcmEiXQ.." target="_blank">
                                    <img lazy-load="../../Content/images/GooglePlay-Icon.png" alt="google play" style="max-width: 120px;" />
                                </a>

                                <a href="https://itunes.apple.com/us/app/gradera/id955246650?l=sv&ls=1&mt=8" target="_blank">
                                    <img lazy-load="../../Content/images/app-store-icon-1024x512.png" alt="app store" style="max-width: 120px;" />
                                </a>
                            </div>


                        </div>

                        <div class="cleaner"></div>
                    </div>
                </div> <!-- end of sidebar -->

                <div id="templatemo_content">

                    <div id="logo">
                        <img src="../../Content/images/slideshow/jigoro-kano-600x300.jpg" alt="jigoro kano" />
                    </div>

                    <center>
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- Gradera-Banner -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:320px;height:100px"
                             data-ad-client="ca-pub-7325257911988484"
                             data-ad-slot="8437784316"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </center>

                    <div class="content_box">
                        @{Html.RenderAction("GetAdvertisements", "Advertisement", new { pos = "top" });}
                        @RenderBody()
                    </div>
                </div> <!-- end of content -->
                <div class="cleaner"></div>
            </div> <!-- end of main -->
            <div id="templatemo_footer">

                <a href="/Home/License">Creative commons</a> <img style="height: 10px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Cc.logo.circle.svg/1024px-Cc.logo.circle.svg.png" alt="creative commons" /> 2011-2019 | <a href="../../">Gradera.nu</a> | Ett arbete av <a href="mailto:victor@webbdudes.se">Victor Öhrström</a>

            </div> <!-- end of templatemo_footer -->

        </div> <!-- end of wrapper -->
    </div>

    <script type="text/javascript">
        var _mfq = _mfq || [];
        (function () {
            var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
            mf.src = "//cdn.mouseflow.com/projects/84096e29-2946-4fcd-84af-788d38b80b82.js";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
    </script>

    <script type="text/ng-template" id="donate.html">
        <div style="padding: 15px;">
            <p>Kära användare av Gradera.nu! Denna sidan kan inte hållas vid liv av bara reklam vilket gör att för att fortsätta att hålla sidan vid liv så skulle jag vilja be om donationer. När det kommit in donationer för att kunna betala ett års upptid till så kommer denna popup att försvinna.</p>
            <div style="display: flex; width: 100%; align-items: center; justify-content: center;">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick" />
                    <input type="hidden" name="hosted_button_id" value="GG4J8MDKP37LE" />
                    <input type="image" src="https://www.paypalobjects.com/sv_SE/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/sv_SE/i/scr/pixel.gif" width="1" height="1" />
                </form>


                <a href="javascript:showSwish()"><img lazy-load="/images/getswish_qr_small.png" alt="betala med swish" style="max-width: 100px; margin-left: 20px;" /></a>
            </div>
            <p>Swish nummer: 0704-15 15 86</p>

            <div style="display: flex; flex-direction: row-reverse;">
                <md-button ng-click="vm.Ok();" class="md-primary md-raised">Stäng</md-button>
            </div>
        </div>
    </script>

</body>
</html>
